{% extends "base.html" %}
{% block title %} Delete Test {% endblock title %}

{% block content %}
<div class="container" style="padding-top: 50px;">
    <div class="auth-container glass-card">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2 class="mb-0">Are you sure you want to delete "{{ test.title }}"?</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a class="btn btn-secondary me-md-2" href="{% url 'users:profile' request.user.username %}">
                                    <i class="fa fa-home"></i> 
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-delete"></i> Delete
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>    
        </div>
    </div>

    <style>
        .card {
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(7, 204, 235, 0.5);
        }
        .card-header {
            border-radius: 10px 10px 0 0 !important;
        }
        .form-control:focus {
            border-color: #4d90fe;
            box-shadow: 0 0 0 0.2rem rgba(77, 144, 254, 0.25);
        }
    </style>
{% endblock content %}
